/* 基础样式 */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #001c33;
  text-align: center;
  overflow: hidden;
  position: relative;
  justify-content: center;
  background: url('public/space-background.jpg') no-repeat center center;
  background-size: cover;
  z-index: -1; 
}
  
   /* 星星样式 */
   .star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    animation: twinkle 15s infinite ease-in-out;
  }
  
  /* 闪烁动画 */
  @keyframes twinkle {
    0%, 100% {
      opacity: 0.3; /* 最暗时的亮度 */
      transform: scale(0.8); /* 最小缩放 */
      box-shadow: none; /* 无发光效果 */
    }
    50% {
      opacity: 1; /* 最亮时的亮度 */
      transform: scale(1.5); /* 最大缩放 */
      box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.8); /* 发光效果 */
    }
  }